@import "tailwindcss";

:root {
  --light: #eaeaea;
  --dark: #171717;
  --background: var(--light);
  --foreground: var(--dark);
  --green: #4c5a51;
  --purple: #816785;
  --brown: #7d6b4a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-green: var(--green);
  --color-purple: var(--purple);
  --color-brown: var(--brown);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manjari: var(--font-manjari);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* View More button text change on expand */
.view-more-details .view-more-button::after {
  content: "";
}

.view-more-details[open] .view-more-button::after {
  content: " less";
}

.view-more-details .view-more-button::before {
  content: "View more";
}

.view-more-details[open] .view-more-button::before {
  content: "View";
}
