@import "tailwindcss";

:root {
  --light: #eaeaea;;
  --dark: #171717;
  --background: var(--light);
  --foreground: var(--dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manjari: var(--font-manjari);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
